


ul#simpleQuote{
	list-style-type:none;
}

ul#simpleQuote li{
	font-family: 'Oranienbaum', serif;
	font-size: 1.2rem;
	width : 90%;
}

#container {
  margin:0 auto;
  max-width:660px
  width : 100%;
}

#author{
	font-family: 'Oranienbaum', serif;
	font-size: 1rem;
        color: red;
	right: 0px;
}


