@charset "UTF-8";
/* CSS Сборс */
* { margin: 0; padding: 0; z-index: 2222222222222222222222222222222222220;}

/* Базовый стил для адаптивной картинки */
img {
  width: 70%;
  height: auto;
  margin: 0 auto;
}

/* Полномасштабная фоновая картинка */
.full {
  width: 70%;

}

