@charset "UTF-8";
/* CSS Сборс */
* { margin: 0; padding: 0; }

/* Базовый стил для адаптивной картинки */
img {
  width: 100%;
  height: auto;
}
/* Адаптивные картинки в колонках */
.two-columns {
  width: 48%;
  display: inline-block;
}
.three-columns {
  width: 32%;
  display: inline-block;
}
/* Условная расстановка картинок для различных устройств  */

.breakpoint { /* Одна колонка для смартфонов */
  max-width: 100%;
  display: inline-block;
}
@media (min-width: 420px) { /* Две колонки для планшетов */
  .breakpoint {
    max-width: 48%;
  }
}
@media (min-width: 760px) { /* Четыре колонки для больших экранов */
  .breakpoint {
    max-width: 24%;
  }
}
/* Полномасштабная фоновая картинка */
.full {
  width: 100%;
}

