.animate2{

 position: relative;

 margin:0 auto;/* устанваливаем блок div по центру страницы*/

 max-width:192px; /* Ширина */

 height: auto; /* Высота */ 

}

.animate2 img {

 position:absolute; /* абсолютное позиционирование*/

 left: 0; /* выравниваем картинки по левому верхнему углу div-а*/

 top: 0; /* выравниваем картинки по левому верхнему углу div-а */ 

}
.animate2 img.first { /* первая картинка полностью прозрачная */

 opacity:0;

 filter:alpha (opacity=0);

}

.animate2:hover img.first { /* при наведении курсора первая картинка становится не прозрачной */

 opacity:1;

 filter:alpha (opacity=100);

}

.animate2:hover img.second, .animate2 img.second:hover { /* а вторая при наведении курсора становится прозрачной */

 opacity:0;

 filter:alpha (opacity=0);
 -moz-transition: all 2s ease-in-out; /* эффект перехода для Firefox до версии 16.0 */

 -webkit-transition: all 2s ease-in-out; /* эффект перехода для Chrome до версии 26.0, Safari, Android и iOS */

 -o-transition: all 2s ease-in-out; /* эффект перехода для Opera до версии 12.10 */

 transition: all 2s ease-in-out; 
}
/*--для всех браузеров---*/
.animate:not(:hover) img.second, .animate img.second:not(:hover) {
 
 
 -moz-transition: all 2s ease;
 -wedkit-transition: all 2s ease;
 -o-transition: all 2s ease;
 transition: all 2s ease;
}
/*---замедление возрата к началу--*/
.animate2:not(:hover) img.first:not(:hover){
 opacity:0;
 filter: alpha (opacity=100);
 filter: alpha (opacity=0);
 -moz-transition: all 2s ease;
 -webkit-transition: all 2s ease;
 -o-transition: all 2s ease;
 transition: all 2s ease;
}
.animate2:not(:hover) img.second, .animate2 img.second:not(:hover) {
 opacity:1;
 filter: alpha (opacity=0);
 -moz-transition: all 2s ease;
 -webkit-transition: all 2s ease;
 -o-transition: all 2s ease;
 transition: all 2s ease;
}