 @import url(https://fonts.googleapis.com/css?family=Roboto:400,500);
 .baha1476 {
 font-family: 'Roboto', Arial, sans-serif;
 text-align: center;
 text-transform: uppercase;
 font-weight: 500;
 -webkit-transform: translateZ(0);
 transform: translateZ(0);
 }
 .baha1476 * {
 box-sizing: border-box;
}
.baha1476 li {
 display: inline-block;
 list-style: outside none none;
 margin: 0.5em 1em;
 overflow: hidden;
 position: relative;
 border-radius: 3px;
}
.baha1476 li:before,
.baha1476 li:after {
 display: block;
}
.baha1476 li:before {
 left: 0%;
}
.baha1476 li:after {
 left: 50%;
}
.baha1476 a {
 backface-visibility: hidden;
 color: #2980b9;
 display: block;
 padding: 0.5em 1em;
 position: relative;
 text-align: center;
 text-decoration: none;
}
.baha1476 a:hover {
 color: #ffffff;
}
.baha1476 a:before {
 left: 25%;
}
.baha1476 a:after {
 left: 75%;
}
.baha1476 li:before,
.baha1476 li:after,
.baha1476 a:before,
.baha1476 a:after {
 background-color: #2980b9;
 position: absolute;
 width: 26%;
 top: 50%;
 bottom: 50%;
 content: '';
 z-index: -1;
 opacity: 0;
 -webkit-transition: all 0.2s ease;
 transition: all 0.2s ease;
}
.baha1476 li:before {
 -webkit-transition-delay: 0s;
 transition-delay: 0s;
}
.baha1476 li:after {
 -webkit-transition-delay: 0.1s;
 transition-delay: 0.1s;
}
.baha1476 a:before {
 -webkit-transition-delay: 0.05s;
 transition-delay: 0.05s;
}
.baha1476 a:after {
 -webkit-transition-delay: 0.15s;
 transition-delay: 0.15s;
}
.baha1476 li:hover:before,
.baha1476 li.current:before,
.baha1476 li:hover:after,
.baha1476 li.current:after,
.baha1476 li:hover a:before,
.baha1476 li.current a:before,
.baha1476 li:hover a:after,
.baha1476 li.current a:after {
 opacity: 1;
 top: 0;
 bottom: 0;
}
.baha1476 li:hover:before,
.baha1476 li.current:before {
 -webkit-transition-delay: 0s;
 transition-delay: 0s;
}
.baha1476 li:hover:after,
.baha1476 li.current:after {
 -webkit-transition-delay: 0.15s;
 transition-delay: 0.15s;
 }
 .baha1476 li:hover a:before,
 .baha1476 li.current a:before {
 -webkit-transition-delay: 0.075s;
 transition-delay: 0.075s;
}
.baha1476 li:hover a:after,
.baha1476 li.current a:after {
 -webkit-transition-delay: 0.225s;
 transition-delay: 0.225s;
}