@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=latin,cyrillic);
* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    color: #333;
    font: 1em 'Open Sans', sans-serif;
    background-color: #f1f1f1;
}

main {
    max-width: 1024px;
    margin: 0 auto
}

article {
    margin: 0 1em;
    padding: 0 22px;
}

header {
    margin: 0;
    padding: 0;
    text-align: center;
}

footer {
    font-size: 14px;
    text-align: center
}

p {
    margin-bottom: 16px;
}

hr {
    margin: 22px 0;
    height: 1px;
    border: 0;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}




/*** Постраничная навигация базовый стиль ***/

.pagination {
    width: 100%;
    text-align: center;
}

.pagination ul {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.pagination ul li {
    display: inline-block;
    list-style: none;
    margin: 3px 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

.pagination ul li a,
.pagination ul li a:visited {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
}

.pagination ul li a:hover {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
}


/***** Черный *****/

.pagination ul li a:link.blacksquare,
.pagination ul li a:visited.blacksquare {
    border: 1px solid #000;
    background: #000;
    background: -moz-linear-gradient(top, #3f3f3f, #000);
    background: -ms-linear-gradient(top, #3f3f3f, #000);
    background: -webkit-gradient(linear, left top, left bottom, from(#3f3f3f), to(#000));
    background: -o-linear-gradient(#3f3f3f, #000);
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#3f3f3f', EndColorStr='#000', GradientType=0);
    color: #fff;
    text-shadow: none !important;
}

.pagination ul li a:hover.blacksquare {
    border: 1px solid #000;
    background: #7c7c7c;
    background: -moz-linear-gradient(top, #7c7c7c, #000);
    background: -ms-linear-gradient(top, #7c7c7c, #000);
    background: -webkit-gradient(linear, left top, left bottom, from(#7c7c7c), to(#000));
    background: -o-linear-gradient(top, #7c7c7c, #000);
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#7c7c7c', EndColorStr='#000', GradientType=0);
    color: #fff;
    text-shadow: none !important;
}

.pagination ul li a:link.blacksquareactive,
.pagination ul li a:visited.blacksquareactive {
    border: 1px solid #000;
    background: #7c7c7c;
    background: -moz-linear-gradient(top, #7c7c7c, #000);
    background: -ms-linear-gradient(top, #7c7c7c, #000);
    background: -webkit-gradient(linear, left top, left bottom, from(#7c7c7c), to(#000));
    background: -o-linear-gradient(top, #7c7c7c, #000);
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#7c7c7c', EndColorStr='#000', GradientType=0);
    color: #fff;
    text-shadow: none !important;
}

.pagination ul li a:hover.blacksquareactive {
    border: 1px solid #000;
    background: #000;
    background: -moz-linear-gradient(top, #3f3f3f, #000);
    background: -ms-linear-gradient(top, #3f3f3f, #000);
    background: -webkit-gradient(linear, left top, left bottom, from(#3f3f3f), to(#000));
    background: -o-linear-gradient(top, #3f3f3f, #000);
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#3f3f3f', EndColorStr='#000', GradientType=0);
    color: #fff;
    text-shadow: none !important;
}

.pagination ul li a:link.blackcurve,
.pagination ul li a:visited.blackcurve {
    border: 1px solid #000;
    background: #000;
    background: -moz-linear-gradient(top, #3f3f3f, #000);
    background: -ms-linear-gradient(top, #3f3f3f, #000);
    background: -webkit-gradient(linear, left top, left bottom, from(#3f3f3f), to(#000));
    background: -o-linear-gradient(top, #3f3f3f, #000);
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#3f3f3f', EndColorStr='#000', GradientType=0);
    color: #fff;
    text-shadow: none !important;
    border-radius: 4px;
}

.pagination ul li a:hover.blackcurve {
    border: 1px solid #000;
    background: #7c7c7c;
    background: -moz-linear-gradient(top, #7c7c7c, #000);
    background: -ms-linear-gradient(top, #7c7c7c, #000);
    background: -webkit-gradient(linear, left top, left bottom, from(#7c7c7c), to(#000));
    background: -o-linear-gradient(top, #7c7c7c, #000);
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#7c7c7c', EndColorStr='#000', GradientType=0);
    color: #fff;
    text-shadow: none !important;
    border-radius: 4px;
}

.pagination ul li a:link.blackcurveactive,
.pagination ul li a:visited.blackcurveactive {
    border: 1px solid #000;
    background: #7c7c7c;
    background: -moz-linear-gradient(top, #7c7c7c, #000);
    background: -ms-linear-gradient(top, #7c7c7c, #000);
    background: -webkit-gradient(linear, left top, left bottom, from(#7c7c7c), to(#000));
    background: -o-linear-gradient(top, #7c7c7c, #000);
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#7c7c7c', EndColorStr='#000', GradientType=0);
    color: #fff;
    text-shadow: none !important;
    border-radius: 4px;
}

.pagination ul li a:hover.blackcurveactive {
    border: 1px solid #000;
    background: #000;
    background: -moz-linear-gradient(top, #3f3f3f, #000);
    background: -ms-linear-gradient(top, #3f3f3f, #000);
    background: -webkit-gradient(linear, left top, left bottom, from(#3f3f3f), to(#000));
    background: -o-linear-gradient(top, #3f3f3f, #000);
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#3f3f3f', EndColorStr='#000', GradientType=0);
    color: #fff;
    text-shadow: none !important;
    border-radius: 4px;
}


/***** Белый *****/

.pagination ul li a:link.whitesquare,
.pagination ul li a:visited.whitesquare {
    border: 1px solid #CCCCCC;
    background: #e0e0e0;
    background: -moz-linear-gradient(top, #fff, #e0e0e0);
    background: -ms-linear-gradient(top, #fff, #e0e0e0);
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e0e0e0));
    background: -o-linear-gradient(top, #fff, #e0e0e0);
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#ffffff', EndColorStr='#e0e0e0', GradientType=0);
    color: #666666;
    text-shadow: none !important;
}

.pagination ul li a:hover.whitesquare {
    border: 1px solid #999;
    background: #fff;
    background: -moz-linear-gradient(top, #fff, #999);
    background: -ms-linear-gradient(top, #fff, #999);
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#999));
    background: -o-linear-gradient(top, #fff, #999);
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#ffffff', EndColorStr='#999999', GradientType=0);
    color: #666666;
    text-shadow: none !important;
}

.pagination ul li a:link.whitesquareactive,
.pagination ul li a:visited.whitesquareactive {
    border: 1px solid #999;
    background: #fff;
    background: -moz-linear-gradient(top, #fff, #999);
    background: -ms-linear-gradient(top, #fff, #999);
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#999));
    background: -o-linear-gradient(top, #fff, #999);
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#ffffff', EndColorStr='#999999', GradientType=0);
    color: #666666;
    text-shadow: none !important;
}

.pagination ul li a:hover.whitesquareactive {
    border: 1px solid #CCCCCC;
    background: #e0e0e0;
    background: -moz-linear-gradient(top, #fff, #e0e0e0);
    background: -ms-linear-gradient(top, #fff, #e0e0e0);
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e0e0e0));
    background: -o-linear-gradient(top, #fff, #e0e0e0);
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#ffffff', EndColorStr='#e0e0e0', GradientType=0);
    color: #666666;
    text-shadow: none !important;
}

.pagination ul li a:link.whitecurve,
.pagination ul li a:visited.whitecurve {
    border: 1px solid #CCCCCC;
    background: #e0e0e0;
    background: -moz-linear-gradient(top, #fff, #e0e0e0);
    background: -ms-linear-gradient(top, #fff, #e0e0e0);
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e0e0e0));
    background: -o-linear-gradient(top, #fff, #e0e0e0);
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#ffffff', EndColorStr='#e0e0e0', GradientType=0);
    color: #666666;
    text-shadow: none !important;
    border-radius: 4px;
}

.pagination ul li a:hover.whitecurve {
    border: 1px solid #999;
    background: #fff;
    background: -moz-linear-gradient(top, #fff, #999);
    background: -ms-linear-gradient(top, #fff, #999);
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#999));
    background: -o-linear-gradient(top, #fff, #999);
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#ffffff', EndColorStr='#999999', GradientType=0);
    color: #666666;
    text-shadow: none !important;
    border-radius: 4px;
}

.pagination ul li a:link.whitecurveactive,
.pagination ul li a:visited.whitecurveactive {
    border: 1px solid #999;
    background: #fff;
    background: -moz-linear-gradient(top, #fff, #999);
    background: -ms-linear-gradient(top, #fff, #999);
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#999));
    background: -o-linear-gradient(top, #fff, #999);
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#ffffff', EndColorStr='#999999', GradientType=0);
    color: #666666;
    text-shadow: none !important;
    border-radius: 4px;
}

.pagination ul li a:hover.whitescurveactive {
    border: 1px solid #999;
    background: #fff;
    background: -moz-linear-gradient(top, #fff, #999);
    background: -ms-linear-gradient(top, #fff, #999);
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#999));
    background: -o-linear-gradient(top, #fff, #999);
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#ffffff', EndColorStr='#999999', GradientType=0);
    color: #666666;
    text-shadow: none !important;
    border-radius: 4px;
}


/***** Желтый *****/

.pagination ul li a:link.yellowsquare,
.pagination ul li a:visited.yellowsquare {
    border: 1px solid #e0be00;
    background: #d4c416;
    background: -moz-linear-gradient(top, #fff600, #d4c416);
    background: -ms-linear-gradient(top, #fff600, #d4c416);
    background: -webkit-gradient(linear, left top, left bottom, from(#fff600), to(#d4c416));
    background: -o-linear-gradient(top, #fff600, #d4c416);
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#fff600', EndColorStr='#d4c416', GradientType=0);
    color: #333;
    text-shadow: none !important;
}

.pagination ul li a:hover.yellowsquare {
    border: 1px solid #fff600;
    background: #fdf874;
    background: -moz-linear-gradient(top, #fdf874, #d4c416);
    background: -ms-linear-gradient(top, #fdf874, #d4c416);
    background: -webkit-gradient(linear, left top, left bottom, from(#fdf874), to(#d4c416));
    background: -o-linear-gradient(top, #fdf874, #d4c416);
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#fdf874', EndColorStr='#d4c416', GradientType=0);
    color: #333;
    text-shadow: none !important;
}

.pagination ul li a:link.yellowsquareactive,
.pagination ul li a:visited.yellowsquareactive {
    border: 1px solid #fff600;
    background: #fdf874;
    background: -moz-linear-gradient(top, #fdf874, #d4c416);
    background: -ms-linear-gradient(top, #fdf874, #d4c416);
    background: -webkit-gradient(linear, left top, left bottom, from(#fdf874), to(#d4c416));
    background: -o-linear-gradient(top, #fdf874, #d4c416);
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#fdf874', EndColorStr='#d4c416', GradientType=0);
    color: #333;
    text-shadow: none !important;
}

.pagination ul li a:hover.yellowsquareactive {
    border: 1px solid #e0be00;
    background: #d4c416;
    background: -moz-linear-gradient(top, #fff600, #d4c416);
    background: -ms-linear-gradient(top, #fff600, #d4c416);
    background: -webkit-gradient(linear, left top, left bottom, from(#fff600), to(#d4c416));
    background: -o-linear-gradient(top, #fff600, #d4c416);
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#fff600', EndColorStr='#d4c416', GradientType=0);
    color: #333;
    text-shadow: none !important;
}

.pagination ul li a:link.yellowcurve,
.pagination ul li a:visited.yellowcurve {
    border: 1px solid #e0be00;
    background: #d4c416;
    background: -moz-linear-gradient(top, #fff600, #d4c416);
    background: -ms-linear-gradient(top, #fff600, #d4c416);
    background: -webkit-gradient(linear, left top, left bottom, from(#fff600), to(#d4c416));
    background: -o-linear-gradient(top, #fff600, #d4c416);
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#fff600', EndColorStr='#d4c416', GradientType=0);
    color: #333;
    text-shadow: none !important;
    border-radius: 4px;
}

.pagination ul li a:hover.yellowcurve {
    border: 1px solid #fff600;
    background: #fdf874;
    background: -moz-linear-gradient(top, #fdf874, #d4c416);
    background: -ms-linear-gradient(top, #fdf874, #d4c416);
    background: -webkit-gradient(linear, left top, left bottom, from(#fdf874), to(#d4c416));
    background: -o-linear-gradient(top, #fdf874, #d4c416);
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#fdf874', EndColorStr='#d4c416', GradientType=0);
    color: #333;
    text-shadow: none !important;
    border-radius: 4px;
}

.pagination ul li a:link.yellowcurveactive,
.pagination ul li a:visited.yellowcurveactive {
    border: 1px solid #fff600;
    background: #fdf874;
    background: -moz-linear-gradient(top, #fdf874, #d4c416);
    background: -ms-linear-gradient(top, #fdf874, #d4c416);
    background: -webkit-gradient(linear, left top, left bottom, from(#fdf874), to(#d4c416));
    background: -o-linear-gradient(top, #fdf874, #d4c416);
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#fdf874', EndColorStr='#d4c416', GradientType=0);
    color: #333;
    text-shadow: none !important;
    border-radius: 4px;
}

.pagination ul li a:hover.yellowcurveactive {
    border: 1px solid #e0be00;
    background: #d4c416;
    background: -moz-linear-gradient(top, #fff600, #d4c416);
    background: -ms-linear-gradient(top, #fff600, #d4c416);
    background: -webkit-gradient(linear, left top, left bottom, from(#fff600), to(#d4c416));
    background: -o-linear-gradient(top, #fff600, #d4c416);
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#fff600', EndColorStr='#d4c416', GradientType=0);
    color: #333;
    text-shadow: none !important;
    border-radius: 4px;
}


/***** Пурпурный *****/

.pagination ul li a:link.purplesquare,
.pagination ul li a:visited.purplesquare {
    border: 1px solid #9825c3;
    background: #7d16d4;
    background: -moz-linear-gradient(top, #bf5af9, #7d16d4);
    background: -ms-linear-gradient(top, #bf5af9, #7d16d4);
    background: -webkit-gradient(linear, left top, left bottom, from(#bf5af9), to(#7d16d4));
    background: -o-linear-gradient(top, #bf5af9, #7d16d4);
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#bf5af9', EndColorStr='#7d16d4', GradientType=0);
    color: #fff;
    text-shadow: 0 1px 2px #333333;
}

.pagination ul li a:hover.purplesquare {
    border: 1px solid #9825c3;
    background: #cf82fb;
    background: -moz-linear-gradient(top, #cf82fb, #7d16d4);
    background: -ms-linear-gradient(top, #cf82fb, #7d16d4);
    background: -webkit-gradient(linear, left top, left bottom, from(#cf82fb), to(#7d16d4));
    background: -o-linear-gradient(top, #cf82fb, #7d16d4);
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#cf82fb', EndColorStr='#7d16d4', GradientType=0);
    color: #fff;
    text-shadow: 0 1px 2px #333333;
}

.pagination ul li a:link.purplesquareactive,
.pagination ul li a:visited.purplesquareactive {
    border: 1px solid #9825c3;
    background: #cf82fb;
    background: -moz-linear-gradient(top, #cf82fb, #7d16d4);
    background: -ms-linear-gradient(top, #cf82fb, #7d16d4);
    background: -webkit-gradient(linear, left top, left bottom, from(#cf82fb), to(#7d16d4));
    background: -o-linear-gradient(top, #cf82fb, #7d16d4);
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#cf82fb', EndColorStr='#7d16d4', GradientType=0);
    color: #fff;
    text-shadow: 0 1px 2px #333333;
}

.pagination ul li a:hover.purplesquareactive {
    border: 1px solid #9825c3;
    background: #7d16d4;
    background: -moz-linear-gradient(top, #bf5af9, #7d16d4);
    background: -ms-linear-gradient(top, #bf5af9, #7d16d4);
    background: -webkit-gradient(linear, left top, left bottom, from(#bf5af9), to(#7d16d4));
    background: -o-linear-gradient(top, #bf5af9, #7d16d4);
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#bf5af9', EndColorStr='#7d16d4', GradientType=0);
    color: #fff;
    text-shadow: 0 1px 2px #333333;
}

.pagination ul li a:link.purplecurve,
.pagination ul li a:visited.purplecurve {
    border: 1px solid #9825c3;
    background: #7d16d4;
    background: -moz-linear-gradient(top, #bf5af9, #7d16d4);
    background: -ms-linear-gradient(top, #bf5af9, #7d16d4);
    background: -webkit-gradient(linear, left top, left bottom, from(#bf5af9), to(#7d16d4));
    background: -o-linear-gradient(top, #bf5af9, #7d16d4);
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#bf5af9', EndColorStr='#7d16d4', GradientType=0);
    color: #fff;
    text-shadow: 0 1px 2px #333333;
    border-radius: 4px;
}

.pagination ul li a:hover.purplecurve {
    border: 1px solid #9825c3;
    background: #cf82fb;
    background: -moz-linear-gradient(top, #cf82fb, #7d16d4);
    background: -ms-linear-gradient(top, #cf82fb, #7d16d4);
    background: -webkit-gradient(linear, left top, left bottom, from(#cf82fb), to(#7d16d4));
    background: -o-linear-gradient(top, #cf82fb, #7d16d4);
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#cf82fb', EndColorStr='#7d16d4', GradientType=0);
    color: #fff;
    text-shadow: 0 1px 2px #333333;
    border-radius: 4px;
}

.pagination ul li a:link.purplecurveactive,
.pagination ul li a:visited.purplecurveactive {
    border: 1px solid #9825c3;
    background: #cf82fb;
    background: -moz-linear-gradient(top, #cf82fb, #7d16d4);
    background: -ms-linear-gradient(top, #cf82fb, #7d16d4);
    background: -webkit-gradient(linear, left top, left bottom, from(#cf82fb), to(#7d16d4));
    background: -o-linear-gradient(top, #cf82fb, #7d16d4);
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#cf82fb', EndColorStr='#7d16d4', GradientType=0);
    color: #fff;
    text-shadow: 0 1px 2px #333333;
    border-radius: 4px;
}

.pagination ul li a:hover.purplecurveactive {
    border: 1px solid #9825c3;
    background: #7d16d4;
    background: -moz-linear-gradient(top, #bf5af9, #7d16d4);
    background: -ms-linear-gradient(top, #bf5af9, #7d16d4);
    background: -webkit-gradient(linear, left top, left bottom, from(#bf5af9), to(#7d16d4));
    background: -o-linear-gradient(top, #bf5af9, #7d16d4);
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#bf5af9', EndColorStr='#7d16d4', GradientType=0);
    color: #fff;
    text-shadow: 0 1px 2px #333333;
    border-radius: 4px;
}


/***** Розовый *****/

.pagination ul li a:link.pinksquare,
.pagination ul li a:visited.pinksquare {
    border: 1px solid #ff006c;
    background: #ff0066;
    background: -moz-linear-gradient(top, #fb678a, #ff0066);
    background: -ms-linear-gradient(top, #fb678a, #ff0066);
    background: -webkit-gradient(linear, left top, left bottom, from(#fb678a), to(#ff0066));
    background: -o-linear-gradient(top, #fb678a, #ff0066);
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#fb678a', EndColorStr='#ff0066', GradientType=0);
    color: #fff;
    text-shadow: 0 1px 2px #333333;
}

.pagination ul li a:hover.pinksquare {
    border: 1px solid #ff006c;
    background: #fb88a3;
    background: -moz-linear-gradient(top, #fb88a3, #ff0066);
    background: -ms-linear-gradient(top, #fb88a3, #ff0066);
    background: -webkit-gradient(linear, left top, left bottom, from(#fb88a3), to(#ff0066));
    background: -o-linear-gradient(top, #fb88a3, #ff0066);
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#fb88a3', EndColorStr='#ff0066', GradientType=0);
    color: #fff;
    text-shadow: 0 1px 2px #333333;
}

.pagination ul li a:link.pinksquareactive,
.pagination ul li a:visited.pinksquareactive {
    border: 1px solid #ff006c;
    background: #fb88a3;
    background: -moz-linear-gradient(top, #fb88a3, #ff0066);
    background: -ms-linear-gradient(top, #fb88a3, #ff0066);
    background: -webkit-gradient(linear, left top, left bottom, from(#fb88a3), to(#ff0066));
    background: -o-linear-gradient(top, #fb88a3, #ff0066);
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#fb88a3', EndColorStr='#ff0066', GradientType=0);
    color: #fff;
    text-shadow: 0 1px 2px #333333;
}

.pagination ul li a:hover.pinksquareactive {
    border: 1px solid #ff006c;
    background: #ff0066;
    background: -moz-linear-gradient(top, #fb678a, #ff0066);
    background: -ms-linear-gradient(top, #fb678a, #ff0066);
    background: -webkit-gradient(linear, left top, left bottom, from(#fb678a), to(#ff0066));
    background: -o-linear-gradient(top, #fb678a, #ff0066);
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#fb678a', EndColorStr='#ff0066', GradientType=0);
    color: #fff;
    text-shadow: 0 1px 2px #333333;
}

.pagination ul li a:link.pinkcurve,
.pagination ul li a:visited.pinkcurve {
    border: 1px solid #ff006c;
    background: #ff0066;
    background: -moz-linear-gradient(top, #fb678a, #ff0066);
    background: -ms-linear-gradient(top, #fb678a, #ff0066);
    background: -webkit-gradient(linear, left top, left bottom, from(#fb678a), to(#ff0066));
    background: -o-linear-gradient(top, #fb678a, #ff0066);
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#fb678a', EndColorStr='#ff0066', GradientType=0);
    color: #fff;
    text-shadow: 0 1px 2px #333333;
    border-radius: 4px;
}

.pagination ul li a:hover.pinkcurve {
    border: 1px solid #ff006c;
    background: #fb88a3;
    background: -moz-linear-gradient(top, #fb88a3, #ff0066);
    background: -ms-linear-gradient(top, #fb88a3, #ff0066);
    background: -webkit-gradient(linear, left top, left bottom, from(#fb88a3), to(#ff0066));
    background: -o-linear-gradient(top, #fb88a3, #ff0066);
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#fb88a3', EndColorStr='#ff0066', GradientType=0);
    color: #fff;
    text-shadow: 0 1px 2px #333333;
    border-radius: 4px;
}

.pagination ul li a:link.pinkcurveactive,
.pagination ul li a:visited.pinkcurveactive {
    border: 1px solid #ff006c;
    background: #fb88a3;
    background: -moz-linear-gradient(top, #fb88a3, #ff0066);
    background: -ms-linear-gradient(top, #fb88a3, #ff0066);
    background: -webkit-gradient(linear, left top, left bottom, from(#fb88a3), to(#ff0066));
    background: -o-linear-gradient(top, #fb88a3, #ff0066);
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#fb88a3', EndColorStr='#ff0066', GradientType=0);
    color: white;
    border-radius: 4px;
}

.pagination ul li a:hover.pinkcurveactive {
    border: 1px solid #ff006c;
    background: #ff0066;
    background: -moz-linear-gradient(top, #fb678a, #ff0066);
    background: -ms-linear-gradient(top, #fb678a, #ff0066);
    background: -webkit-gradient(linear, left top, left bottom, from(#fb678a), to(#ff0066));
    background: -o-linear-gradient(top, #fb678a, #ff0066);
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#fb678a', EndColorStr='#ff0066', GradientType=0);
    color: #fff;
    text-shadow: 0 1px 2px #333333;
    border-radius: 4px;
}


/***** Оранжевый *****/

.pagination ul li a:link.orangesquare,
.pagination ul li a:visited.orangesquare {
    border: 1px solid #b85208;
    background: #ff9c00;
    background: -moz-linear-gradient(top, #ff9c00, #da620b);
    background: -ms-linear-gradient(top, #ff9c00, #da620b);
    background: -webkit-gradient(linear, left top, left bottom, from(#ff9c00), to(#da620b));
    background: -o-linear-gradient(top, #ff9c00, #da620b);
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#ff9c00', EndColorStr='#da620b', GradientType=0);
    color: #fff;
    text-shadow: 0 1px 2px #333333;
}

.pagination ul li a:hover.orangesquare {
    border: 1px solid #b85208;
    background: #f7c87d;
    background: -moz-linear-gradient(top, #f7c87d, #da620b);
    background: -ms-linear-gradient(top, #f7c87d, #da620b);
    background: -webkit-gradient(linear, left top, left bottom, from(#f7c87d), to(#da620b));
    background: -o-linear-gradient(top, #f7c87d, #da620b);
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#f7c87d', EndColorStr='#da620b', GradientType=0);
    color: #fff;
    text-shadow: 0 1px 2px #333333;
}

.pagination ul li a:link.orangesquareactive,
.pagination ul li a:visited.orangesquareactive {
    border: 1px solid #b85208;
    background: #f7c87d;
    background: -moz-linear-gradient(top, #f7c87d, #da620b);
    background: -ms-linear-gradient(top, #f7c87d, #da620b);
    background: -webkit-gradient(linear, left top, left bottom, from(#f7c87d), to(#da620b));
    background: -o-linear-gradient(top, #f7c87d, #da620b);
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#f7c87d', EndColorStr='#da620b', GradientType=0);
    color: #fff;
    text-shadow: 0 1px 2px #333333;
}

.pagination ul li a:hover.orangesquarevisited {
    border: 1px solid #b85208;
    background: #ff9c00;
    background: -moz-linear-gradient(top, #ff9c00, #da620b);
    background: -ms-linear-gradient(top, #ff9c00, #da620b);
    background: -webkit-gradient(linear, left top, left bottom, from(#ff9c00), to(#da620b));
    background: -o-linear-gradient(top, #ff9c00, #da620b);
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#ff9c00', EndColorStr='#da620b', GradientType=0);
    color: #fff;
    text-shadow: 0 1px 2px #333333;
}

.pagination ul li a:link.orangecurve,
.pagination ul li a:visited.orangecurve {
    border: 1px solid #b85208;
    background: #ff9c00;
    background: -moz-linear-gradient(top, #ff9c00, #da620b);
    background: -ms-linear-gradient(top, #ff9c00, #da620b);
    background: -webkit-gradient(linear, left top, left bottom, from(#ff9c00), to(#da620b));
    background: -o-linear-gradient(top, #ff9c00, #da620b);
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#ff9c00', EndColorStr='#da620b', GradientType=0);
    color: #fff;
    text-shadow: 0 1px 2px #333333;
    border-radius: 4px;
}

.pagination ul li a:hover.orangecurve {
    border: 1px solid #b85208;
    background: #f7c87d;
    background: -moz-linear-gradient(top, #f7c87d, #da620b);
    background: -ms-linear-gradient(top, #f7c87d, #da620b);
    background: -webkit-gradient(linear, left top, left bottom, from(#f7c87d), to(#da620b));
    background: -o-linear-gradient(top, #f7c87d, #da620b);
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#f7c87d', EndColorStr='#da620b', GradientType=0);
    color: #fff;
    text-shadow: 0 1px 2px #333333;
    border-radius: 4px;
}

.pagination ul li a:link.orangecurveactive,
.pagination ul li a:visited.orangecurveactive {
    border: 1px solid #b85208;
    background: #f7c87d;
    background: -moz-linear-gradient(top, #f7c87d, #da620b);
    background: -ms-linear-gradient(top, #f7c87d, #da620b);
    background: -webkit-gradient(linear, left top, left bottom, from(#f7c87d), to(#da620b));
    background: -o-linear-gradient(top, #f7c87d, #da620b);
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#f7c87d', EndColorStr='#da620b', GradientType=0);
    color: #fff;
    text-shadow: 0 1px 2px #333333;
    border-radius: 4px;
}

.pagination ul li a:hover.orangecurveactive {
    border: 1px solid #b85208;
    background: #ff9c00;
    background: -moz-linear-gradient(top, #ff9c00, #da620b);
    background: -ms-linear-gradient(top, #ff9c00, #da620b);
    background: -webkit-gradient(linear, left top, left bottom, from(#ff9c00), to(#da620b));
    background: -o-linear-gradient(top, #ff9c00, #da620b);
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#ff9c00', EndColorStr='#da620b', GradientType=0);
    color: #fff;
    text-shadow: 0 1px 2px #333333;
    border-radius: 4px;
}


/***** Зеленый *****/

.pagination ul li a:link.greensquare,
.pagination ul li a:visited.greensquare {
    border: 1px solid #5e9f51;
    background: #69903c;
    background: -moz-linear-gradient(top, #77e777, #69903c);
    background: -ms-linear-gradient(top, #77e777, #69903c);
    background: -webkit-gradient(linear, left top, left bottom, from(#77e777), to(#69903c));
    background: -o-linear-gradient(top, #77e777, #69903c);
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#77e777', EndColorStr='#69903c', GradientType=0);
    color: #fff;
    text-shadow: 0 1px 2px #333333;
}

.pagination ul li a:hover.greensquare {
    border: 1px solid #5e9f51;
    background: #8ab953;
    background: -moz-linear-gradient(top, #8ab953, #69903c);
    background: -ms-linear-gradient(top, #8ab953, #69903c);
    background: -webkit-gradient(linear, left top, left bottom, from(#8ab953), to(#69903c));
    background: -o-linear-gradient(top, #8ab953, #69903c);
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#8ab953', EndColorStr='#69903c', GradientType=0);
    color: #fff;
    text-shadow: 0 1px 2px #333333;
}

.pagination ul li a:link.greensquareactive,
.pagination ul li a:visited.greensquareactive {
    border: 1px solid #5e9f51;
    background: #8ab953;
    background: -moz-linear-gradient(top, #8ab953, #69903c);
    background: -ms-linear-gradient(top, #8ab953, #69903c);
    background: -webkit-gradient(linear, left top, left bottom, from(#8ab953), to(#69903c));
    background: -o-linear-gradient(top, #8ab953, #69903c);
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#8ab953', EndColorStr='#69903c', GradientType=0);
    color: #fff;
    text-shadow: 0 1px 2px #333333;
}

.pagination ul li a:hover.greensquareactive {
    border: 1px solid #5e9f51;
    background: #69903c;
    background: -moz-linear-gradient(top, #77e777, #69903c);
    background: -ms-linear-gradient(top, #77e777, #69903c);
    background: -webkit-gradient(linear, left top, left bottom, from(#77e777), to(#69903c));
    background: -o-linear-gradient(top, #77e777, #69903c);
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#77e777', EndColorStr='#69903c', GradientType=0);
    color: #fff;
    text-shadow: 0 1px 2px #333333;
}

.pagination ul li a:link.greencurve,
.pagination ul li a:visited.greencurve {
    border: 1px solid #5e9f51;
    background: #69903c;
    background: -moz-linear-gradient(top, #77e777, #69903c);
    background: -ms-linear-gradient(top, #77e777, #69903c);
    background: -webkit-gradient(linear, left top, left bottom, from(#77e777), to(#69903c));
    background: -o-linear-gradient(top, #77e777, #69903c);
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#77e777', EndColorStr='#69903c', GradientType=0);
    color: #fff;
    text-shadow: 0 1px 2px #333333;
    border-radius: 4px;
}

.pagination ul li a:hover.greencurve {
    border: 1px solid #5e9f51;
    background: #8ab953;
    background: -moz-linear-gradient(top, #8ab953, #69903c);
    background: -ms-linear-gradient(top, #8ab953, #69903c);
    background: -webkit-gradient(linear, left top, left bottom, from(#8ab953), to(#69903c));
    background: -o-linear-gradient(top, #8ab953, #69903c);
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#8ab953', EndColorStr='#69903c', GradientType=0);
    color: #fff;
    text-shadow: 0 1px 2px #333333;
    border-radius: 4px;
}

.pagination ul li a:link.greencurveactive,
.pagination ul li a:visited.greencurveactive {
    border: 1px solid #5e9f51;
    background: #8ab953;
    background: -moz-linear-gradient(top, #8ab953, #69903c);
    background: -ms-linear-gradient(top, #8ab953, #69903c);
    background: -webkit-gradient(linear, left top, left bottom, from(#8ab953), to(#69903c));
    background: -o-linear-gradient(top, #8ab953, #69903c);
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#8ab953', EndColorStr='#69903c', GradientType=0);
    color: #fff;
    text-shadow: 0 1px 2px #333333;
    border-radius: 4px;
}

.pagination ul li a:hover.greencurveactive {
    border: 1px solid #5e9f51;
    background: #69903c;
    background: -moz-linear-gradient(top, #77e777, #69903c);
    background: -ms-linear-gradient(top, #77e777, #69903c);
    background: -webkit-gradient(linear, left top, left bottom, from(#77e777), to(#69903c));
    background: -o-linear-gradient(top, #77e777, #69903c);
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#77e777', EndColorStr='#69903c', GradientType=0);
    color: #fff;
    text-shadow: 0 1px 2px #333333;
    border-radius: 4px;
}


/***** Красный *****/

.pagination ul li a:link.redsquare,
.pagination ul li a:visited.redsquare {
    border: 1px solid #872828;
    background: #a10505;
    background: -moz-linear-gradient(top, #e74444, #a10505);
    background: -ms-linear-gradient(top, #e74444, #a10505);
    background: -webkit-gradient(linear, left top, left bottom, from(#e74444), to(#a10505));
    background: -o-linear-gradient(top, #e74444, #a10505);
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#e74444', EndColorStr='#a10505', GradientType=0);
    color: #fff;
    text-shadow: 0 1px 2px #333333;
}

.pagination ul li a:hover.redsquare {
    border: 1px solid #aa3c3c;
    background: #bf1616;
    background: -moz-linear-gradient(top, #f56a6a, #bf1616);
    background: -ms-linear-gradient(top, #f56a6a, #bf1616);
    background: -webkit-gradient(linear, left top, left bottom, from(#f56a6a), to(#bf1616));
    background: -o-linear-gradient(top, #f56a6a, #bf1616);
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#f56a6a', EndColorStr='#bf1616', GradientType=0);
    color: #fff;
    text-shadow: 0 1px 2px #333333;
}

.pagination ul li a:link.redsquareactive,
.pagination ul li a:visited.redsquareactive {
    border: 1px solid #aa3c3c;
    background: #bf1616;
    background: -moz-linear-gradient(top, #f56a6a, #bf1616);
    background: -ms-linear-gradient(top, #f56a6a, #bf1616);
    background: -webkit-gradient(linear, left top, left bottom, from(#f56a6a), to(#bf1616));
    background: -o-linear-gradient(top, #f56a6a, #bf1616);
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#f56a6a', EndColorStr='#bf1616', GradientType=0);
    color: #fff;
    text-shadow: 0 1px 2px #333333;
}

.pagination ul li a:hover.redsquareactive {
    border: 1px solid #872828;
    background: #a10505;
    background: -moz-linear-gradient(top, #e74444, #a10505);
    background: -ms-linear-gradient(top, #e74444, #a10505);
    background: -webkit-gradient(linear, left top, left bottom, from(#e74444), to(#a10505));
    background: -o-linear-gradient(top, #e74444, #a10505);
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#e74444', EndColorStr='#a10505', GradientType=0);
    color: #fff;
    text-shadow: 0 1px 2px #333333;
}

.pagination ul li a:link.redcurve,
.pagination ul li a:visited.redcurve {
    border: 1px solid #872828;
    background: #a10505;
    background: -moz-linear-gradient(top, #e74444, #a10505);
    background: -ms-linear-gradient(top, #e74444, #a10505);
    background: -webkit-gradient(linear, left top, left bottom, from(#e74444), to(#a10505));
    background: -o-linear-gradient(top, #e74444, #a10505);
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#e74444', EndColorStr='#a10505', GradientType=0);
    color: #fff;
    text-shadow: 0 1px 2px #333333;
    border-radius: 4px;
}

.pagination ul li a:hover.redcurve {
    border: 1px solid #aa3c3c;
    background: #bf1616;
    background: -moz-linear-gradient(top, #f56a6a, #bf1616);
    background: -ms-linear-gradient(top, #f56a6a, #bf1616);
    background: -webkit-gradient(linear, left top, left bottom, from(#f56a6a), to(#bf1616));
    background: -o-linear-gradient(top, #f56a6a, #bf1616);
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#f56a6a', EndColorStr='#bf1616', GradientType=0);
    color: #fff;
    text-shadow: 0 1px 2px #333333;
    border-radius: 4px;
}

.pagination ul li a:link.redcurveactive,
.pagination ul li a:visited.redcurveactive {
    border: 1px solid #aa3c3c;
    background: #bf1616;
    background: -moz-linear-gradient(top, #f56a6a, #bf1616);
    background: -ms-linear-gradient(top, #f56a6a, #bf1616);
    background: -webkit-gradient(linear, left top, left bottom, from(#f56a6a), to(#bf1616));
    background: -o-linear-gradient(top, #f56a6a, #bf1616);
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#f56a6a', EndColorStr='#bf1616', GradientType=0);
    color: #fff;
    text-shadow: 0 1px 2px #333333;
    border-radius: 4px;
}

.pagination ul li a:hover.redcurveactive {
    border: 1px solid #872828;
    background: #a10505;
    background: -moz-linear-gradient(top, #e74444, #a10505);
    background: -ms-linear-gradient(top, #e74444, #a10505);
    background: -webkit-gradient(linear, left top, left bottom, from(#e74444), to(#a10505));
    background: -o-linear-gradient(top, #e74444, #a10505);
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#e74444', EndColorStr='#a10505', GradientType=0);
    color: #fff;
    text-shadow: 0 1px 2px #333333;
    border-radius: 4px;
}


/***** Простой стиль *****/

.pagination ul li a:link.normal,
.pagination ul li a:visited.normal,
.blogpagination ul li a:link.normal,
.blogpagination ul li a:visited.normal {
    color: #999;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

.pagination ul li a:hover.normal,
.blogpagination ul li a:hover.normal {
    color: #d25809;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

.pagination ul li a:link.normalactive,
.pagination ul li a:visited.normalactive,
.blogpagination ul li a:link.normalactive,
.blogpagination ul li a:visited.normalactive {
    color: #d25809;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

.pagination ul li a:hover.normalactive,
.blogpagination ul li a:hover.normalactive {
    color: #999;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
}
