 #bg_popup{
 position: fixed;
 z-index: 99999;
 background: rgba(0, 0, 0, 0.6);
 top: 0;
 right: 0;
 bottom: 0;
 left: 0;
 display: none;
 }
 
 #popup {
 top: 12%;
 background-image: url('back_show.jpg');
 max-width: 600px;
 width: 100%;
 height:auto;
 margin: auto;
 padding: 10px 17px 15px 17px;
 position: relative;} 
 .doom{
 display:block;
 position:absolute;
 top:-13px;
 z-index: 99999999999;
 right:-13px;
 width:35px;
 height:35px;
 max-height: auto;
 background:url(close.png);
 cursor:pointer;}
 </style> 

 .tags{
 color: red;
 text-align: center;
 }
